.navbar {
  z-index: 2;
  width: 100%;
  height: 60px;
  box-shadow: 0px 1px 10px gray;
  /* background: blue; */
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.navbar .navbar-introduce {
  /* background-color: green; */
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-introduce .introduce-text {
  margin-left: 5px;
  height: 100%;
  /* background-color: gray; */
  /* content: "dasdasds"; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introduce-text .name {
  margin-bottom: -20px;
}

.navbar .logo {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  background-color: blue;
  margin-left: 20px;
}

.navbar .navbar-introduce .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.navbar .button-log {
  width: 90px;
  height: 90%;
  margin-right: 5px;
  background: white;
  box-shadow: 1px 0px 3px gray;
  font-size: medium;
  border: none;
  margin-right: 20px;
}
.navbar .button-log:hover {
  background: rgb(240, 237, 237);
  color: white;
}
.navbar .button-log:focus {
  outline: none;
}

.form-log {
  width: 70%;
  /* background-color: gainsboro; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  /* for test */
  margin-bottom: 200px;
  box-shadow: 5px 5px 10px gray;
}

.form-log .zenix-intro {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.form-log .zenix-intro .white-logo {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  margin-right: 20px;
  background-color: blue;
}

.input-log {
  margin-bottom: 20px;
  width: 300px;
  height: 35px;
  font-size: 20px;
  padding-left: 20px;
  border-radius: 3px;
  border: 1px solid rgb(235, 232, 232);
  /* box-shadow: 1px 0px 4px gray; */
}

input:focus {
  outline: none;
}
.input-log:focus {
  background-color: rgb(240, 238, 238);
}
button:focus {
  outline: none;
}
.form-log .button-log {
  margin-top: 10px;
  border: none;
  font-size: 20px;
  color: white;
  background: blue;
  width: 300px;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.form-log .button-log:hover {
  background: darkblue;
}
