.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
